VITE_FUJI_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
VITE_FUJI_RPC_URL_FALLBACK=https://avalanche-fuji-c-chain-rpc.publicnode.com
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_DEMO_MERCHANT=
